#about-page {
  position: relative;
  z-index: 5;
  margin: auto;
  width: 80%;
  display: none;
  margin-top: 6em;
  margin-bottom: 6em;
  font-family: 'Muli', sans-serif;
  border: 1px solid lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
}

#about-page h2 {
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffa500;
  font-family: 'Sigmar One', cursive;
  font-size: 2em;
  background-color: #129be8;
  text-shadow: 2px 2px 8px #000000;
  margin: 0;
  padding: 1em;
  border-bottom: 6px double black;
}

.subHeader {
  margin: 0;
  padding: 3em;
  background-color: #fda605;
  color: white;
}

.aboutContainer {
  padding: 1em;
  background-color: white;
}

.aboutMe {
  z-index: 10;
  padding: 0.5em;
  background-color: white;
  transition: background-color 0.3s;
  min-height: 200px;
}

.aboutMe:hover {
  background-color: #63edff;
}

h3 {

}

.aboutBio {
  display: inline;
}

.aboutBio, img {
  vertical-align: text-top;
  padding: 0em 0.5em;
}

.social {
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

@media all and (max-width: 600px) {
  #about-page {
    width: 100%;
  }
}
