nav {
  text-align: right;
  top: 0;
  width: 100%;
  background-color: lightblue;
  border-bottom: 1px solid darkblue;
  margin: 0;
  background-color: #129ce8;
}

nav ul {
  margin-top: 0;
  padding-top: 1em;
}

nav li {
  display: inline;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 1em;
}
